<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta name="description" content="{{ site.title }} &mdash; {{ site.subtitle }}">
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
        <meta name="robots" content="noindex, follow">
    {% endblock %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/base16/darcula.min.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>

    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title|raw }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ site.title }} &mdash; {{ site.subtitle }}">
    <meta property="og:image" content="{{ site.url }}{{ sharing_image(page.filename) }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ site.url }}">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title|raw }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ site.title }} &mdash; {{ site.subtitle }}">
    <meta name="twitter:image" content="{{ site.url }}{{ sharing_image(page.filename) }}">

    <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}/assets/icons/php_foundation.svg">

    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body>
    <header class="wrapper w-full">
        <div class="border-b border-hborder box-border z-50 flex items-center
            justify-between bg-white top-0 px-4 h-12 sticky min-w-[320px]
            box-border md:h-16 lg:px-8"
            x-data="{ isOpen: false }" @keydown.escape="isOpen = false" @click.away="isOpen = false">
            <div class="nav flex items-center h-full">
                <a aria-current="page" class="no-underline mr-8 flex items-center h-full" href="/">
                    <div class="flex mr-2 md:mr-4 h-full">
                        <img class="h-full" src="{{ site.url }}/assets/icons/php_foundation.svg" alt="php-foundation-logo">
                    </div>

                    <div class="text-[#27282c] font-semibold text-sm md:text-xl ">
                        The PHP
                        <br class="md:hidden"/> Foundation
                    </div>
                </a>

                <div class="hidden lg:block text-base">
                    <a class="text-[rgba(25,25,28,.7)] nav-org"
                       target="_blank" rel="noopener noreferrer"
                       href="https://php.net/">
                        php.net
                    </a>
                </div>

                <div class="hidden lg:block text-base lg:ml-4">
                    <a class="text-[rgba(25,25,28,.7)] nav-org"
                       target="_blank" rel="noopener noreferrer"
                       href="https://github.com/ThePHPF/thephp.foundation">
                        GitHub
                    </a>
                </div>
            </div>

           <div class="header-group flex items-center">
                <div class="hidden lg:block text-xl lg:text-base font-medium lg:font-normal absolute top-12 left-0 right-0 drop-shadow-xl lg:drop-shadow-none lg:top-0 lg:relative px-4 lg:px-0 bg-white" :class="{ 'block': isOpen, 'hidden': !isOpen }">
                    <a class="text-[rgba(25,25,28,.7)] mr-0 lg:mr-4 block lg:inline-block py-2 lg:py-0 block lg:hidden"
                       target="_blank" rel="noopener noreferrer"
                       href="https://php.net/">
                        php.net
                    </a>
                    <a class="text-[rgba(25,25,28,.7)] mr-0 lg:mr-4 block lg:inline-block py-2 lg:py-0 block lg:hidden"
                       target="_blank" rel="noopener noreferrer"
                       href="https://github.com/ThePHPF/thephp.foundation">
                        GitHub
                    </a>
                    <a class="text-[rgba(25,25,28,.7)] mr-0 lg:mr-4 block lg:inline-block py-2 lg:py-0"
                       href="{{ site.url }}/blog">
                       Blog
                    </a>
                    <a class="text-[rgba(25,25,28,.7)] mr-0 lg:mr-4 block lg:inline-block py-2 lg:py-0"
                       href="{{ site.url }}/structure">
                        Structure
                    </a>
                </div>

               <a href="mailto:contact@thephp.foundation">
                   <button data-test="button" type="button"
                           class="py-1.5 px-4 text-white bg-[#7f52ff] rounded-3xl
                            hover:bg-[rgba(127,82,255,.8)]">
                       Write Us
                   </button>
               </a>

               <button :aria-expanded="isOpen" aria-controls="nav-list" aria-label="toggle menu" @click="isOpen = !isOpen" type="button" class="block px-2 text-[#7f52ff] lg:hidden focus:outline-none">
                   <svg class="w-8 h-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                       <path x-show.transition="!isOpen" d="M3 7h18a1 1 0 100-2H3a1 1 0 000 2zm18 10H3a1 1 0 000 2h18a1 1 0 000-2zm0-4H3a1 1 0 000 2h18a1 1 0 000-2zm0-4H3a1 1 0 000 2h18a1 1 0 000-2z"></path>
                       <path x-show="isOpen" d="M13.41 12l6.3-6.29a1.004 1.004 0 00-1.42-1.42L12 10.59l-6.29-6.3a1.004 1.004 0 10-1.42 1.42l6.3 6.29-6.3 6.29a.999.999 0 000 1.42 1 1 0 001.42 0l6.29-6.3 6.29 6.3a1.001 1.001 0 001.639-.325 1 1 0 00-.22-1.095L13.41 12z" style="display: none;"></path>
                   </svg>
               </button>
           </div>
        </div>
    </header>
    
    {%block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    
    <footer class="py-8 px-4 md:flex md:items-center md:justify-between bg-[#27282c]">
        <ul class="mb-6 md:mb-0 flex flex-wrap items-center list-none text-[#27282c] text-base font-normal">
            <li class="footer-li">
                <a href="{{ site.url }}/code-of-conduct"
                    class="footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
                    Code of Conduct
                </a>
            </li>

            <li class="footer-li lg:hidden">
                <a href="{{ site.url }}/blog"
                    class="footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
                    Blog
                </a>
            </li>

            <li class="footer-li">
                <a href="https://twitter.com/thephpf" class="group-link footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
                    Twitter
                </a>
            </li>
        </ul>

        <p class="font-normal text-center sm:flex sm:items-center footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
            &copy; The PHP Foundation
        </p>
    </footer>

    {% block scripts %}
    {% endblock %}

    {% block scripts_after %}
    {% endblock %}

    <script>hljs.highlightAll();</script>
</body>
</html>
