<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta name="description" content="{{ site.title }} &mdash; {{ site.subtitle }}">
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
    <meta name="robots" content="index, follow">
    {% endblock %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/base16/darcula.min.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>

    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title|raw }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ site.title }} &mdash; {{ site.subtitle }}">
    <meta property="og:image" content="{{ site.url }}{{ sharing_image(page.filename) }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ site.url }}">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title|raw }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ site.title }} &mdash; {{ site.subtitle }}">
    <meta name="twitter:image" content="{{ site.url }}{{ sharing_image(page.filename) }}">

    <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}/assets/icons/php_foundation.svg">
    <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}/assets/icons/php_foundation.svg">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml"
          title="{{ site.title }} activity feed"/>
    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body class="bg-white">

<header class="absolute inset-x-0 top-0 z-50">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                     alt="">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Blog</a>

            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Structure</a>

            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Branding</a>

            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Speakers</a>

            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Get involved</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Write Us</a>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                         alt="">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a href="#"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>

                        <a href="#"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>

                        <a href="#"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>

                        <a href="#"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
                    </div>
                    <div class="py-6">
                        <a href="#"
                           class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log
                            in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{%block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

<footer class="py-8 px-4 md:flex md:items-center md:justify-between bg-[#27282c]">
    <ul class="mb-6 md:mb-0 flex flex-wrap items-center list-none text-[#27282c] text-base font-normal">
        <li class="footer-li">
            <a href="{{ site.url }}/code-of-conduct"
               class="footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
                Code of Conduct
            </a>
        </li>

        <li class="footer-li lg:hidden">
            <a href="{{ site.url }}/blog"
               class="footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
                Blog
            </a>
        </li>

        <li class="footer-li">
            <a href="https://twitter.com/thephpf"
               class="group-link footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
                Twitter
            </a>
        </li>
    </ul>

    <p class="font-normal text-center sm:flex sm:items-center footer-link text-white/30 hover:text-slate-900 no-underline hover:no-underline border-b-0 border-transparent">
        &copy; The PHP Foundation
    </p>
</footer>

{% block scripts %}
{% endblock %}

{% block scripts_after %}
{% endblock %}

<script>hljs.highlightAll();</script>
</body>
</html>
