<div class="flex flex-col items-center justify-center space-y-8 lg:flex-row lg:items-stretch lg:space-x-8 lg:space-y-0">
    <section class="flex flex-col w-full max-w-sm p-12 pt-2 space-y-6 bg-white rounded-lg shadow-md border-t-gray-400 align-middle">
        <!-- Name -->
        <div class="flex-shrink-0">
            <div class="text-4xl font-medium tracking-tight text-gray-500"
            >Silver</div>
        </div>

        <!-- Features -->
<!--        <ul class="flex-1 space-y-4 ml-0">-->
<!--            <li class="flex items-start">-->
<!--                <svg class="w-6 h-6 text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>-->
<!--                <span class="ml-3 text-base font-medium">Feature</span>-->
<!--            </li>-->
<!--        </ul>-->

        <!-- Price -->
        <div class="flex-shrink-0 pb-6 space-y-2 border-b">
            <span class="text-2xl font-normal">$12,000</span>
            <span class="text-gray-400">/year</span>
        </div>

        <ul class="flex-1 space-y-0 ml-0">
            <li>WebSite logo</li>
            <li>Mention on Social Media</li>
            <li>Mention in Newsletter</li>
            <li>Use of logo on your website</li>
            <li>Mention in "new sponsors" post</li>
            <li>Advisory Board seat</li>
        </ul>

        <!-- Button -->
        <div class="flex-shrink-0 pt-4">
            <a class="inline-flex items-center justify-center w-full max-w-xs px-4 py-2 transition-colors border rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer no-underline text-gray-500 nav-org"
               href="https://opencollective.com/phpfoundation/contribute/major-sponsors-34207/checkout?interval=year&amount=12000&contributeAs=me"
            >Join Silver</a>
        </div>
        
    </section>

    <section class="flex flex-col w-full max-w-sm p-12 pt-2 space-y-6 bg-white rounded-lg shadow-md border-t-gray-400">
        <!-- Name -->
        <div class="flex-shrink-0">
            <div class="text-4xl font-medium tracking-tight text-orange-500"
            >Gold</div>
        </div>


        <!-- Features -->
<!--        <ul class="flex-1 space-y-4 ml-0">-->
<!--            <li class="flex items-start">-->
<!--                <svg class="w-6 h-6 text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>-->
<!--                <span class="ml-3 text-base font-medium">Feature</span>-->
<!--            </li>-->
<!--        </ul>-->

        <!-- Price -->
        <div class="flex-shrink-0 pb-6 space-y-2 border-b">
            <span class="text-2xl font-normal">$24,000</span>
            <span class="text-gray-400">/year</span>
        </div>

        <ul class="flex-1 space-y-0 ml-0">
            <li>All in Silver plus</li>
            <li>Membership intro post</li>
            <li>Logo in GitHub README</li>
            <li>Listed in reports</li>
            <li>Logo on presentation slides made by Foundation members</li>
        </ul>

        <!-- Button -->
        <div class="flex-shrink-0 pt-4">
            <a class="inline-flex items-center justify-center w-full max-w-xs px-4 py-2 transition-colors border rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer no-underline text-orange-500 nav-org"
               href="https://opencollective.com/phpfoundation/contribute/gold-sponsor-68774/checkout?interval=year&amount=24000&contributeAs=me"
            >Join Gold</a>
        </div>

    </section>

    <section class="flex flex-col w-full max-w-sm p-12 pt-2 space-y-6 bg-white rounded-lg shadow-md border-t-gray-400">
        <!-- Name -->
        <div class="flex-shrink-0">
            <div class="text-4xl font-medium tracking-tight text-blue-600"
            >Platinum</div>
        </div>
        <!-- Features -->
<!--        <ul class="flex-1 space-y-4 ml-0">-->
<!--            <li class="flex items-start">-->
<!--                <svg class="w-6 h-6 text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>-->
<!--                <span class="ml-3 text-base font-medium">Feature</span>-->
<!--            </li>-->
<!--        </ul>-->

        <!-- Price -->
        <div class="flex-shrink-0 pb-6 space-y-2 border-b">
            <span class="text-2xl font-normal">$100,000</span>
            <span class="text-gray-400">/year</span>
        </div>

        <ul class="flex-1 space-y-0 ml-0">
            <li>All in Gold plus</li>
            <li>Social media (1/quarter)</li>
            <li>Sponsor co-authored case study</li>
        </ul>

        <!-- Button -->
        <div class="flex-shrink-0 pt-4">
            <a class="inline-flex items-center justify-center w-full max-w-xs px-4 py-2 transition-colors border rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer no-underline text-blue-600 nav-org"
               href="https://opencollective.com/phpfoundation/contribute/platinum-sponsor-68775/checkout?interval=year&amount=100000&contributeAs=me"
            >Join Platinum</a>
        </div>

    </section>
</div>

