<div class="flex flex-col items-center justify-center space-y-8 lg:flex-row lg:items-stretch lg:space-x-8 lg:space-y-0">
    <section class="flex flex-col w-full max-w-sm p-12 pt-2 space-y-6 bg-white rounded-lg shadow-md border-t-gray-400">
        <!-- Name -->
        <div class="flex-shrink-0">
            <h3 class="text-4xl font-medium tracking-tight text-gray-500"
            >Silver</h3>
        </div>

        <!-- Features -->
<!--        <ul class="flex-1 space-y-4 ml-0">-->
<!--            <li class="flex items-start">-->
<!--                <svg class="w-6 h-6 text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>-->
<!--                <span class="ml-3 text-base font-medium">Feature</span>-->
<!--            </li>-->
<!--        </ul>-->

        <!-- Price -->
        <div class="flex-shrink-0 pb-6 space-y-2 border-b">
            <span class="text-2xl font-normal">$12,000</span>
            <span class="text-gray-400">/year</span>
        </div>
        
    </section>

    <section class="flex flex-col w-full max-w-sm p-12 pt-2 space-y-6 bg-white rounded-lg shadow-md border-t-gray-400">
        <!-- Name -->
        <div class="flex-shrink-0">
            <h3 class="text-4xl font-medium tracking-tight text-orange-500"
            >Gold</h3>
        </div>

        <!-- Features -->
<!--        <ul class="flex-1 space-y-4 ml-0">-->
<!--            <li class="flex items-start">-->
<!--                <svg class="w-6 h-6 text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>-->
<!--                <span class="ml-3 text-base font-medium">Feature</span>-->
<!--            </li>-->
<!--        </ul>-->

        <!-- Price -->
        <div class="flex-shrink-0 pb-6 space-y-2 border-b">
            <span class="text-2xl font-normal">$24,000</span>
            <span class="text-gray-400">/year</span>
        </div>

    </section>

    <section class="flex flex-col w-full max-w-sm p-12 pt-2 space-y-6 bg-white rounded-lg shadow-md border-t-gray-400">
        <!-- Name -->
        <div class="flex-shrink-0">
            <h3 class="text-4xl font-medium tracking-tight text-blue-600"
            >Platinum</h3>
        </div>

        <!-- Features -->
<!--        <ul class="flex-1 space-y-4 ml-0">-->
<!--            <li class="flex items-start">-->
<!--                <svg class="w-6 h-6 text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>-->
<!--                <span class="ml-3 text-base font-medium">Feature</span>-->
<!--            </li>-->
<!--        </ul>-->

        <!-- Price -->
        <div class="flex-shrink-0 pb-6 space-y-2 border-b">
            <span class="text-2xl font-normal">$100,000</span>
            <span class="text-gray-400">/year</span>
        </div>

    </section>
</div>

