{% set sponsors = fetch_sponsors() %}
{% if sponsors['Platinum']|length > 0 %}
<h2 id="sponsors_platinum">Platinum Sponsors</h2>
<div class="grid grid-cols-4 gap-4 mb-8">
    {% for sponsor in sponsors['Platinum'] %}
    <div>
        <a href="{{ sponsor.website }}"
           class="block no-underline" target="_blank" rel="noopener noreferrer">
            <div class="mb-2 p-2">
                <img class="h-32 rounded w-full object-contain object-center"
                     src="{{ sponsor.image }}" alt="sponsor.name"/>
            </div>
            <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-900 font-medium mb-4 text-center">
                <a class="no-underline text-inherit" href="{{ sponsor.website }}">{{ sponsor.name }}</a>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if sponsors['Gold']|length > 0 %}
<h2 id="sponsors_gold">Gold Sponsors</h2>
<div class="grid grid-cols-5 gap-4 text-base mb-8">
    {% for sponsor in sponsors['Gold'] %}
    <div>
        <a href="{{ sponsor.website }}"
           class="block no-underline" target="_blank" rel="noopener noreferrer">
            <div class="mb-2 p-2">
                <img class="h-24 rounded w-full object-contain object-center"
                     src="{{ sponsor.image }}" alt="sponsor.name"/>
            </div>
            <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-900 font-medium mb-4 text-center">
                <a class="no-underline text-inherit" href="{{ sponsor.website }}">{{ sponsor.name }}</a>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if sponsors['Silver']|length > 0 %}
<h2 id="sponsors_silver">Silver Sponsors</h2>
<div class="grid grid-cols-6 gap-4 text-base  mb-8">
    {% for sponsor in sponsors['Silver'] | filter(sponsor => sponsor.name) %}
    <div>
        <a href="{{ sponsor.website }}"
           class="block no-underline" target="_blank" rel="noopener noreferrer">
            <div class="mb-2 p-2">
                <img class="h-20 rounded w-full object-contain object-center"
                     src="{{ sponsor.image }}" alt="sponsor.name"/>
            </div>
            <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-900 font-medium mb-4 text-center">
                <a class="no-underline text-inherit" href="{{ sponsor.website }}">{{ sponsor.name }}</a>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

<h3 id="past_sponsors">Past Sponsors</h3>
<div class="text-base mb-8">
    {{ sponsors['Past'] | map((sponsor) => 
        "<a class=\"no-underline text-inherit\" href=\"#{sponsor.website}\">#{sponsor.name}</a>")
    | join(', ') | raw }}.
</div>
