@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        @apply font-sans text-zinc-600 box-border;
    }

    html {
        @apply min-h-screen;
    }

    h1, h2, h3, h4 {
        @apply mb-6 mt-12 text-zinc-800;
    }

    h1 {
        @apply leading-tight font-bold text-4xl;
    }

    h2 {
        @apply font-bold text-3xl;
    }

    h3 {
        @apply font-bold text-2xl;
    }

    h4 {
        @apply font-bold text-xl;
    }

    p, ol, ul, code, blockquote {
        @apply mb-5;
    }

    p, li {
        @apply font-normal text-zinc-800 text-base leading-relaxed;
    }

    ul {
        @apply list-disc list-outside mb-5 ml-5;
    }

    li > ul {
        @apply mb-0;
    }

    ol {
        @apply list-decimal list-outside mb-4 ml-5;
    }

    blockquote {
        @apply bg-yellow-50 ;
    }

    blockquote p {
        @apply p-4 pl-8 pr-8;
        @apply mb-0;
    }

    a {
        @apply text-blue-600 underline
    }

    a:hover, a:visited:hover {
        @apply text-zinc-400;
    }
}

@layer components {
    .btn-foundation {
        @apply lg:pl-[calc(25% + 16px)];
    }

    .form-inp, .form-btn {
        @apply border border-slate-300 hover:border-indigo-300;
    }

    .form-btn {
        @apply pl-4 pr-4 rounded;
    }


    .li-item {
        @apply mr-8 last:mr-0;
    }

    .group-link {
        @apply text-slate-700/70;
    }

    .group-link:hover {
        @apply text-slate-700;
    }

    .btn {
        @apply text-slate-900/70 text-base tracking-tighter leading-6;
    }

    .nav-org {
        @apply text-slate-900/70 hover:text-slate-900 hover:border-b hover:border-solid hover:border-slate-900 hover:no-underline after:content-["\2197"] after:mx-0.5 after:duration-300 hover:after:text-slate-900 hover:after:ml-1 hover:after:mr-0;
    }

    .footer-li {
        @apply after:border-r after:border-solid after:border-white/50 after:content-[""] after:inline-block after:h-3 after:my-0 after:mx-4 after:w-0 last-of-type:after:hidden;
    }

    .index-module {
        @apply relative rounded-lg overflow-hidden md:rounded-2xl;
    }

    .button-prev {
        @apply absolute right-9 rounded;
    }

    .button-prev:hover {
        @apply bg-slate-900 opacity-10 text-slate-900
    }

    .button-next {
        @apply absolute right-0 rounded-lg;
    }

    .button-next:hover {
        @apply bg-slate-900 opacity-10 text-slate-900
    }
}

:target {
    scroll-margin-top: 64px;
}

:target::before {
    content: "";
    display: block;
    margin-top: -64px;
    height: 64px;
    width: 1px;
}

.footer-link {
    background-image: linear-gradient(180deg, #fff 100%, transparent 0);
    background-size: auto 0;
    background-repeat: repeat-x;
    transition: background-size .3s, color .3s;
}

.footer-link:hover {
    background-size: auto calc(100% + 4px);
}

footer > ul, footer > p {
    padding: 0;
}

code {
    font-family: Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    line-height: normal;
    background: rgba(135, 131, 120, 0.15);
    color: #EB5757;
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2em 0.4em;
}

.alert {
    @apply bg-red-100 border border-red-400  px-4 py-3 pt-4 pb-4 mb-8 text-base;
}

.button-link {
    @apply inline-block py-2 no-underline px-6 !text-white bg-[#6858f6] rounded-3xl hover:bg-[rgba(104,88,246,.8)];
}

.button-link-border {
    @apply inline-block py-2 no-underline px-6 hover:text-white text-[#6858f6] bg-white border-2 border-[#6858f6] rounded-3xl hover:bg-[#6858f6];
}

table tr th {
    @apply text-center font-bold;
}

table tr td, table tr th {
    @apply border-solid border border-gray-300 p-1.5;
}

table tr, td {
    @apply text-base;
}
