---
layout: default
title: Tag Archive
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts
---

<section class="mx-auto my-16 max-w-7xl w-full bg-white px-4 md:px-0">
    <header class="mb-8">
        <h1 class="text-4xl font-bold">Tag: {{ constant('App\\Blog\\Tag::ALLOWED_TAGS')[page.tag] ?? page.tag }}</h1>
    </header>

    {% if page.tag == 'roundup' %}
    <div class="my-16">
        {% include "newsletter.html" %}
    </div>
    {% endif %}

    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {% for post in page.pagination.items %}
        <article class="flex max-w-xl flex-col items-start">
            <div class="flex items-center gap-x-4 text-xs">
                <div class="text-gray-500">{{ post.published_at|date("M d, Y") }}</div>
                {% if post.tags is defined%}
                <div>
                    {% for tag in post.tags %}
                    <a href="{{ site.url }}/blog/tag/{{ tag|url_encode(true) }}"
                       class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100 no-underline">
                        {{ constant('App\\Blog\\Tag::ALLOWED_TAGS')[tag] ?? tag }}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="group relative">
                <h3 class="mt-3 mb-2 text-lg font-semibold leading-6">
                    <a href="{{ site.url }}{{ post.url }}" class="no-underline text-gray-900 group-hover:text-gray-600">
                        {{ post.title|raw }}
                    </a>
                </h3>
                {% if post.author is defined%}
                <div class="mt-2 text-xs">
                    by <a href="{{ post.author.url }}" target="_blank" rel="noopener noreferrer">
                    {{ post.author.name }}</a>
                </div>
                {% endif %}
                <div class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                    {{ post.content|striptags|length > 100 ? (post.content|striptags|slice(0, 150) ~ '...')|raw :
                    post.content|striptags|raw }}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>

    {% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="flex flex-row justify-between article -mx-2 mb-5">
        {% if page.pagination.next_page %}
        <a href="{{ site.url }}{{ page.pagination.next_page.url }}"
           class="flex flex-col w-1/2 border p-2 mx-2 rounded hover:border-[rgba(127,82,255,.8)] transition-all no-underline">
            <div class="mb-1 text-sm text-gray-600 font-medium">Previous</div>
            <div class="font-bold text-blue-500">Older Posts</div>
        </a>
        {% endif %}

        {% if page.pagination.previous_page %}
        <a href="{{ site.url }}{{ page.pagination.previous_page.url }}"
           class="flex flex-col w-1/2 border p-2 mx-2 rounded hover:border-[#7f52ff] transition-all no-underline">
            <div class="mb-1 text-sm text-gray-600 font-medium">Next</div>
            <div class="font-bold text-blue-500">Newer Posts</div>
        </a>
        {% endif %}
    </nav>
    {% endif %}
</section>
