---
layout: default
title: Tag Archive
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts
---

<main class="flex flex-row justify-center min-w-[320px] min-h-[100vh] w-full pt-4">
    <section class="max-w-2xl w-full bg-white px-4 md:px-0">
        <header class="mb-16">
            <h1>Tag: {{ constant('App\\Blog\\Tag::ALLOWED_TAGS')[page.tag] ?? page.tag }}</h1>
        </header>

        {% if page.tag == 'roundup' %}
        <div class="px-4 pt-3 pb-10 mb-6 border-b border-t -mx-4 border-gray-200">
            <h2 class="text-xl text-left inline-block font-semibold text-gray-800 mb-1" id="subscribe-to-php-core-roundup-newsletter">Subscribe to PHP Core Roundup newsletter<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" href="#subscribe-to-php-core-roundup-newsletter" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>
            <form method="POST" action="https://php-foundation-mailcoach.com/subscribe/9be4e2bd-f9d8-475c-b00e-2dcc4cf90056" class="mt-2">
                <div class="flex items-center">
                    <input placeholder="Your email address" type="email" class="w-full px-2 py-4 mr-2  bg-gray-100 shadow-inner rounded-md border border-gray-400 focus:outline-none" name="email" required="">
                    <button class="bg-[#7f52ff] text-gray-200 px-5 py-2 rounded shadow " style="margin-left: -7.8rem;">Sign Up</button>
                </div>
            </form>
        </div>
        {% endif %}

        {% for post in page.pagination.items %}
        <section class="mb-4">
            <header>
                <h4 class="mb-1"><a href="{{ site.url }}{{ post.url }}">{{ post.title|raw }}</a></h4>
                {% if post.author is defined%}
                <div class="text-xs mb-4">
                    Published on <span>{{ post.published_at|date("M d, Y") }}</span>
                    by <a href="{{ post.author.url }}">{{ post.author.name }}</a>
                </div>
                {% endif %}
                <p class="text-base">{{ post.content|striptags|length > 100 ? (post.content|striptags|slice(0, 150) ~ '...')|raw : post.content|striptags|raw }}</p>
            </header>
        </section>
        {% endfor %}

        {% if page.pagination.previous_page or page.pagination.next_page %}
        <nav class="flex flex-row justify-between article -mx-2 mb-5">
            {% if page.pagination.next_page %}
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}" class="flex flex-col w-1/2 border p-2 mx-2 rounded hover:border-[rgba(127,82,255,.8)] transition-all no-underline">
                <div class="mb-1 text-sm text-gray-600 font-medium">Previous</div>
                <div class="font-bold text-blue-500">Older Posts</div>
            </a>
            {% endif %}
            
            {% if page.pagination.previous_page %}
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}" class="flex flex-col w-1/2 border p-2 mx-2 rounded hover:border-[#7f52ff] transition-all no-underline">
                <div class="mb-1 text-sm text-gray-600 font-medium">Next</div>
                <div class="font-bold text-blue-500">Newer Posts</div>
            </a>
            {% endif %}
        </nav>
        {% endif %}
    </section>
</main>