---
title: Blog
layout: default
permalink: blog
generator: pagination
pagination:
    max_per_page: 100
use:
    - posts
---

<main class="flex flex-row justify-center min-w-[320px] min-h-[100vh] w-full pt-4">
	<section class="max-w-2xl w-full bg-white px-4 md:px-0">
		<header class="mb-16">
            <h1>{{ page.title }}</h1>
        </header>

        {% for post in page.pagination.items %}
        <section class="mb-4">
            <header>
                <h4 class="mb-1"><a href="{{ site.url }}{{ post.url }}">{{ post.title|raw }}</a></h4>
				{% if post.author is defined%}
				<div class="text-xs mb-4">
					Published on <span>{{ post.published_at|date("M d, Y") }}</span>
					by <a href="{{ post.author.url }}">{{ post.author.name }}</a>

				</div>
				{% endif %}
				<p class="text-base">{{ post.content|striptags | length > 100 ? post.content|striptags|slice(0, 150) ~ '...' : post.content|striptags }}</p>
            </header>
        </section>
        {% endfor %}

        {% if page.pagination.previous_page or page.pagination.next_page %}
        <nav class="flex flex-row items-center justify-center list-none mt-4">
            {% if page.pagination.previous_page %}<a class="max-w-[45%]" href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}
            {% if page.pagination.next_page %}<a class="max-w-[45%]" href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}
        </nav>
        {% endif %}
    </section>
</main>
