---
layout: default
title: The PHP Foundation
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---

<div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20">
    <div class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96"></div>
    <div class="mx-auto max-w-7xl px-6 py-8 lg:py-24 lg:px-0">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
            <h1 class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto">
                We support, advance,<br/>and develop the PHP Language
            </h1>
            <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
                <div class="text-lg leading-8 text-gray-600">
                    <p>The <strong>PHP Foundation</strong> is a collective established with the non-profit mission to
                        support, advance, and develop the PHP language. We are a community of PHP veterans, community
                        leaders, and technology companies that rely on PHP as a critical digital infrastructure. We
                        collaborate to ensure PHP language long-term success and maintenance.</p>

                    <p>People and businesses may come and go, so it is vital to ensure that the PHP source code will
                        survive beyond the current contributor base. We wish to contribute to the creation and
                        maintenance of a stable language for generations to come.</p>

                    <p>The formation of the PHP Foundation was announced in November 2021 and the PHP Foundation
                        initiative runs with the administration whose goal is to find such an organization structure
                        that will ensure a long-term sustainability of the PHP language development.</p>
                </div>
            </div>
            <a href="https://opencollective.com/phpfoundation" target="_blank" rel="noopener noreferrer"
               class="inline-block no-underline mt-10 w-full max-w-lg sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36">
                <img src="{{ site.url }}/assets/icons/php_foundation.svg"
                     alt="PHP Foundation"
                     class="aspect-[6/5] object-cover">
            </a>
        </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-0 border-t border-gray-200 py-12">
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mt-0">Latest news</h2>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3 py-6 mt-6">
        {% for post in page.pagination.items %}
        <article class="flex max-w-xl flex-col items-start">
            <div class="flex items-center gap-x-4 text-xs">
                <div class="text-gray-500">{{ post.published_at|date("M d, Y") }}</div>
                {% if post.tags is defined%}
                <div>
                    {% for tag in post.tags %}
                    <a href="{{ site.url }}/blog/tag/{{ tag|url_encode(true) }}"
                       class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100 no-underline">
                        {{ constant('App\\Blog\\Tag::ALLOWED_TAGS')[tag] ?? tag }}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="group relative">
                <h3 class="mt-3 mb-2 text-lg font-semibold leading-6">
                    <a href="{{ site.url }}{{ post.url }}" class="no-underline border-b">
                        {{ post.title|raw }}
                    </a>
                </h3>
                {% if post.author is defined%}
                <div class="mt-2 text-xs">
                    by <a href="{{ post.author.url }}" target="_blank" rel="noopener noreferrer">
                    {{ post.author.name }}</a>
                </div>
                {% endif %}
                <div class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                    {{ post.content|striptags|length > 100 ? (post.content|striptags|slice(0, 150) ~ '...')|raw :
                    post.content|striptags|raw }}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

<div class="bg-gray-900 py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-0">
        <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3 items-center">
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base leading-7 text-gray-400">Total by The PHP Foundation in 2022</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">683 commits</dd>
            </div>

            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base leading-7 text-gray-400">Total by The PHP Foundation in 2022</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">283 reviews</dd>
            </div>

            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base leading-7 text-gray-400">
                    Proposals authored or co-authored by The PHP Foundation developers in 2022
                </dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">8 RFCs</dd>
            </div>
        </dl>

        <div class="text-center mt-12">
            <a href="/blog/2022/11/22/transparency-and-impact-report-2022/"
               class="inline-block py-2 no-underline px-6 !text-white border-white border rounded-3xl hover:bg-white hover:!text-gray-900 transition-all">
                2022 Impact Report</a>
        </div>
    </div>
</div>

<section class="text-center py-4">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4" id="sponsors">Sponsors</h2>

    <a href="https://opencollective.com/phpfoundation/contribute/backers-34283/checkout" target="_blank" class="">
        <img src="https://opencollective.com/phpfoundation/donate/button@2x.png?color=blue" width=300
             class="inline mb-4" alt="opencollective phpfoundation"/>
    </a>

    <div class="mx-auto max-w-full px-4">
        <div x-data="{
            sponsors: [],
            sponsorsCount: 0,
            isLoaded: false,
        
            fetchSponsoringOrganizations() {
                fetch('https://opencollective.com/phpfoundation/members/organizations.json')
                    .then((response) => response.json())
                    .then((json) => {
                        const unique = [...new Map(json.map(item => [item.name, item])).values()]
                        this.sponsors = unique.sort((a, b) => b.totalAmountDonated - a.totalAmountDonated).slice(0, 24)
                        this.sponsorsCount = json.length
                        this.isLoaded = true
                    });
            }
        }" x-init="fetchSponsoringOrganizations()">
            <div x-show="isLoaded" x-cloak>
                <div class="font-medium text-xl my-4">We are supported by <span x-text="sponsorsCount"></span>
                    organizations
                </div>
                <div class="grid grid-cols-2 sm:grid-cols-4 xl:grid-cols-8 gap-4">
                    <template x-for="sponsor in sponsors">
                        <a :href="sponsor.website ?? sponsor.profile"
                           class="block shadow p-2 rounded-lg no-underline" target="_blank"
                           rel="noopener noreferrer">
                            <div class="mb-6 p-2">
                                <img x-show="sponsor.image"
                                     class="h-24 rounded w-full object-contain object-center"
                                     :src="sponsor.image" :alt="sponsor.name"/>
                                <span x-show="!sponsor.image"
                                      class="h-24 w-24 rounded-full bg-[rgba(127,82,255,.8)] flex justify-center items-center text-white text-2xl mx-auto"
                                      x-text="sponsor.name.split(/\s+/).map(word => word[0].toUpperCase()).join('')"></span>
                            </div>
                            <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-900 font-medium mb-4"
                                 x-text="sponsor.name"></div>
                        </a>
                    </template>
                </div>

                <div class="my-6">
                    <a href="https://opencollective.com/phpfoundation" target="_blank" rel="noopener noreferrer"
                       class="inline-block py-2 no-underline px-6 !text-white bg-[#7f52ff] rounded-3xl hover:bg-[rgba(127,82,255,.8)]">See
                        all organizations</a>
                </div>
            </div>
            <div x-show="!isLoaded" x-cloak>
                <div class="shadow p-2 rounded-lg animate-pulse w-1/4">
                    <div class="mb-4 p-2">
                        <span class="flex h-24 w-24 rounded-full bg-slate-200 justify-center items-center text-white text-2xl"></span>
                    </div>
                    <div class="h-4 bg-slate-200 rounded"></div>
                </div>
            </div>
        </div>

        <div x-data="{
            sponsors: [],
            sponsorsCount: 0,
            isLoaded: false,
        
            fetchSponsoringUsers() {
                fetch('https://opencollective.com/phpfoundation/members/users.json')
                    .then((response) => response.json())
                    .then((json) => {
                        const unique = [...new Map(json.map(item => [item.name, item])).values()]
                        this.sponsors = unique.sort((a, b) => b.totalAmountDonated - a.totalAmountDonated).slice(0, 40)
                        this.sponsorsCount = json.length
                        this.isLoaded = true
                    });
            }
        }" x-init="fetchSponsoringUsers()" class="mt-8">
            <div x-show="isLoaded" x-cloak>
                <div class="font-medium text-xl my-4">...and <span x-text="sponsorsCount"></span> individuals</div>
                <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-8 xl:grid-cols-10 gap-4">
                    <template x-for="sponsor in sponsors">
                        <a :href="sponsor.website ?? sponsor.profile"
                           class="block shadow p-2 rounded-lg no-underline" target="_blank"
                           rel="noopener noreferrer">
                            <div class="mb-6 p-2">
                                <img x-show="sponsor.image"
                                     class="h-24 rounded w-full object-contain object-center"
                                     :src="sponsor.image" :alt="sponsor.name"/>
                                <span x-show="!sponsor.image"
                                      class="h-24 w-24 rounded-full bg-[rgba(127,82,255,.8)] flex justify-center items-center text-white text-2xl mx-auto"
                                      x-text="sponsor.name.split(/\s+/).map(word => word[0].toUpperCase()).join('')"></span>
                            </div>
                            <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-900 font-medium mb-4"
                                 x-text="sponsor.name"></div>
                        </a>
                    </template>
                </div>

                <div class="my-6">
                    <a href="https://opencollective.com/phpfoundation" target="_blank" rel="noopener noreferrer"
                       class="inline-block py-2 no-underline px-6 !text-white bg-[#7f52ff] rounded-3xl hover:bg-[rgba(127,82,255,.8)]">See
                        all individuals</a>
                </div>
            </div>
            <div x-show="!isLoaded" x-cloak>
                <div x-show="!isLoaded">
                    <div class="shadow p-2 rounded-lg animate-pulse w-1/4">
                        <div class="mb-4 p-2">
                            <span class="flex h-24 w-24 rounded-full bg-slate-200 justify-center items-center text-white text-2xl"></span>
                        </div>
                        <div class="h-4 bg-slate-200 rounded"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="max-w-full my-auto sm:mt-24 md:my-8 text-center py-4">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl" id="supporters">Supporters</h2>
    <div class="font-medium text-xl my-4">We receive non-financial help from other organisations too</div>
    <div class="mx-auto max-w-full px-4">
        <div class="grid grid-cols-2 sm:grid-cols-4 xl:grid-cols-8 gap-4">
            <a class="block shadow p-2 rounded-lg no-underline col-start-1 sm:col-start-2 xl:col-start-4" target="_blank" rel="noopener noreferrer"
               href="https://mule.to/p399">
                <div class="mb-6 p-2">
                    <img class="h-24 rounded w-full object-contain object-center"
                         src="https://user-images.githubusercontent.com/1196825/191993307-a6f931be-c9a9-4161-ab65-e0cbea5f3621.png"
                         alt="Sticker Mule">
                </div>
                <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-900 font-medium mb-4">Sticker
                    Mule
                </div>
            </a>

            <a class="block shadow p-2 rounded-lg no-underline" target="_blank" rel="noopener noreferrer"
               href="https://slack.com/">
                <div class="mb-6 p-2">
                    <img class="h-24 rounded w-full object-contain object-center"
                         src="{{ site.url }}/assets/icons/logo_slack.svg"
                         alt="Slack">
                </div>
                <div class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-900 font-medium mb-4">Slack</div>
            </a>
        </div>
    </div>
</section>
</main>
