---
title: Structure
layout: page-wide
permalink: structure
---

{% for group in fetch_structure() %}
<div class="my-16 mb-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
        <div class="space-y-5 sm:space-y-4">
            <h2 class="text-3xl text-gray-800 font-bold tracking-tight mt-0" id="{{ group.title }}">{{ group.title
                }}</h2>
            <div class="text-xl text-gray-500">
                {{ group.description }}
            </div>
        </div>
        <div class="lg:col-span-2">
            <div class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
                {% for member in group.members %}
                {{ include('structure-item.html', member) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}